@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Rubik&display=swap');

.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    /*Grid gap for initial layout, to be removed later!*/
    grid-gap: 3px;

}

/* Header styling */
header {
    margin: 1px;
    grid-column: 1/13;
    grid-row: 1;
    background-color: #0000EB;
    background: url('/assets/images/clouds_header.jpeg') no-repeat center center;
    font-family: 'Rubik', sans-serif;
}

.page-title {
    text-align: center;
    padding: 2rem;
    color: #0000EB;
    font-size: 600;
    text-transform: uppercase, bold;
    letter-spacing: 4px;
}

.navbar {
    grid-row: 2;
    grid-column: repeat(3, 1fr);
    text-align: center;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Sidebar*/
.links {
    background-color: red;
    grid-column: 11/13;
    grid-row: 3;
    text-align: right;
}

/* Footer */

footer {
    grid-column: 1-13;
    grid-row: 4;
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 5px;
    margin: 7px;
    color: #0000EB;
}

footer {
    background-color: #8d715c;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}

footer>p {
    color: silver;
}

/*main body of the page*/

section {
    grid-column: 1/11;
    grid-row: 3;
    background-color: aquamarine;
}

.main-body {
    height: 100vh;
}