@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Rubik&display=swap');

.container {
    background-color: #c0997b;
    }

body {
    font-family: 'Lato', sans-serif;
}

/* Header styling */
header {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;    
    background-color: #0000EB;
    background: url('/assets/images/clouds_header.jpeg') no-repeat center center;
    font-family: 'Rubik', sans-serif;
    color: #0000EB;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    }

.page-title {
    color: #0000EB;
    font-size: 150%;
    text-transform: uppercase, bold;
    letter-spacing: 4px;
    padding-top: 1rem;
}

.navbar {
    text-transform: uppercase;
    font-size: 85%;
    letter-spacing: 5px;
    padding-bottom: 1rem;
}

/* Footer */

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 140%;
    padding: 5px;
    margin: 3px;
    color: #0000EB;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: #8d715c;
    padding: 5px;
    text-align: center;
    z-index: 3;
    border-radius: 10px 10px 0px 0px;
}

footer>p {
    color: silver;
}

/*main body of the page*/
.main-body {
    display: grid;
    grid-template-columns: 15vw 35vw 35vw 15vw;
    grid-template-rows:  20vw 20vw 20vw 20vw 20vw;
    grid-template-areas:
        ". . . ."
        ". b c ."
        ". e d ."
        ". f g ."
        ". i h ."
    }

.dream {
    grid-area: b;
    text-align: left;
    background-color: #8d5c82;
    border-radius: 0px 10px 10px 0px;
}

.dream-pic {
    grid-area: c;
    object-fit: cover;
    width: 20vw;
    background: rgb(75, 37, 22);
    border-radius: 250px 60px 5px 250px;
    }

.first-steps {
    grid-area: d;
    text-align: left;
    background-color: #8d5c5e;
    border-radius: 10px 0px 0px 10px;
}

.first-steps-pic {
    grid-area: e;
    background: white;
    object-fit: cover;
    width: 20vw;
    border-radius: 60px 250px 250px 5px;
    }

.medical {
    grid-area: f;
    text-align: left;
    background-color: #678d5c;
    border-radius: 0px 10px 10px 0px;
}

.medical-pic {
    grid-area: g;
    background: white;
    object-fit: cover;
    width: 20vw;
    border-radius: 250px 60px 5px 250px;
}

.ppl {
    grid-area: h;
    text-align: left;
    background-color: #8d6a5c;
    border-radius: 10px 0px 0px 10px;
}

.ppl-pic {
    grid-area: i;
    background: orange;
    object-fit: cover;
    width: 20vw;
    border-radius: 60px 250px 250px 5px;
}