@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Rubik&display=swap');

/* Header styling */
header {
    margin: 1px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10rem;
    background-color:#0000EB;
    background: url('/assets/images/clouds_header.jpeg') no-repeat center center;
    font-family: 'Rubik', sans-serif;    
   }
.page-title {    
    text-align: center;
    padding: 2rem;
    color: #0000EB;
    font-size: 600;
    text-transform: uppercase, bold;
    letter-spacing: 4px;
}
.navbar > li {
    display: inline;     
    text-align: center;
    padding-bottom: 1rem;
    text-transform: uppercase;
    }
li {
    list-style-type: none;
}


body {
    font-family: 'Lato', sans-serif;
}
/* Footer */

footer {
    text-align: center;
}
.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    padding: 5px;
    margin: 7px;
    color: #0000EB;
    }

footer {
        background-color: #8d715c;
        padding: 5px;
        margin: 5px;
        text-align: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 3;
    }

footer > p {
        color: silver;
    }